#child1_none{
	display: none;
	background-color: red;
}

#child1_notchar{
	display: none;
	background-color: red;
}

#child1_dup{
	display: none;
	background-color: red;
}

#child2_none{
	display: none;
	background-color: red;
}

#child2_notchar{
	display: none;
	background-color: red;
}

#child2_dup{
	display: none;
	background-color: red;
}

#child3_none{
	display: none;
	background-color: red;
}

#child3_notchar{
	display: none;
	background-color: red;
}

#child3_dup{
	display: none;
	background-color: red;
}

#cancel{
	background-color: silver;
}

#child1-update{
	display: none;
}

#child2-update{
	display: none;
}

#child3-update{
	display: none;
}

#delete-msg1{
	display: none;
}

#delete-msg2{
	display: none;
}

#delete-msg3{
	display: none;
}

#delete1{
	background-color: silver;
}

#delete2{
	background-color: silver;
}

#delete3{
	background-color: silver;
}

#back1{
	background-color: greenyellow;
}

#back2{
	background-color: greenyellow;
}

#back3{
	background-color: greenyellow;
}
